<h2>Add Watchlist</h2>

<form action="/watchlist/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">
    <input type="submit" name="submit">
</form>
