<h1>Create a New Watchlist</h1>


<form action="/saveNewWatchlist" method="post">

  <label for="name">Name</label>
  <input type="text" name="watchlistName" placeholder="Best Fantasy Movies">
  <label for="name">Genre</label>
  <input type="text" name="genre" placeholder="Fantasy">
  <label for="name">Age Group</label>
  <input type="number" name="intendedAudience" placeholder="18">
  <input type="submit" name="submit" value="Submit"></input>

</form>
