<!DOCTYPE html>
<html>

<body>
    <p><a href="index.html">Back Home</a> </p>
    <h1>Top 250 Movies - 37.5% Complete</h1>
    <h2>Up Next</h2>
    <p>Fight Club</p>
    <button>Watch</button>
    <h2>Movies left</h2>
    <ul>
        <li>The Dark Knight</li>
        <li>Pulp Fiction</li>
        <li>Schindler's List</li>
        <li>12 Angry Men</li>
        <li>Inception</li>
    </ul>
    <h2>Already Watched </h2>
    <ul>
        <li>The Shawshank Redemption</li>
        <li>The Godfather</li>
    </ul>
</body>

</html>