<!DOCTYPE html>
<html>

<body>
    <p><a href="index.html">Back Home</a> </p>
    <h1>Fantasy Movies - 50% Complete</h1>
    <h2>Up Next</h2>
    <p>The Lord of the Rings: The Fellowship of the Ring</p>
    <button>Watch</button>
    <h2>Movies left</h2>
    <ul>
        <li>The Lord of the Rings: The Return of the King</li>
        <li>The Lord of the Rings: The Two Towers</li>
        <li>Harry Potter and the Prisoner of Azkaban</li>
    </ul>
    <h2>Already Watched </h2>
    <ul>
        <li>Chronicles of Narnia: Prince Caspian</li>
        <li>The Chronicles of Narnia: The Lion, the Witch and the Wardrobe</li>
        <li>The Hobbit: An Unexpected Journey</li>
        <li>DragonHeart</li>
    </ul>
</body>

</html>