<!DOCTYPE html>
<html>

<body>
    <p><a href="index.html">Back Home</a> </p>
    <h1>Horror Movies - 50% Complete</h1>
    <h2>Up Next</h2>
    <p>The Evil Dead</p>
    <button>Watch</button>
    <h2>Movies left</h2>
    <ul>
        <li>The Exorcist</li>
        <li>The Shining</li>
        <li>The Texas Chain Saw Massacre</li>
    </ul>
    <h2>Already Watched </h2>
    <ul>
        <li>Halloween</li>
        <li>Alien</li>
        <li>The Thing</li>
        <li>A Nightmare on Elm Street</li>
    </ul>
</body>

</html>