<!DOCTYPE html>
<html>

<body>
    <p><a href="index.html">Back Home</a> </p>
    <h1>Marvel Movies - 62.5% Complete</h1>
    <h2>Up Next</h2>
    <p>Avengers Endgame</p>
    <button>Watch</button>
    <h2>Movies left</h2>
    <ul>
        <li>Black Widow</li>
        <li>Thor Love and Thunder</li>
    </ul>
    <h2>Already Watched </h2>
    <ul>
        <li>Black Panther</li>
        <li>Thor Ragnarok</li>
        <li>Spiderman Homecoming</li>
        <li>Avengers Infinity War</li>
        <li>Dr. Strange</li>
    </ul>
</body>

</html>