<% count_yes = 0; %>
<% count_no = 0; %>
<% feedback.forEach(s => { %>
<% if (s.decision == true){ %>
<% count_yes++; %>
<% }else { %>
<% count_no++; %>
<% } %>
<% })%>
<p><%= count_yes %> people liked our page. Wehuu!</p>
<p><%= count_no %> people didn't :'(</p>