<h1>My Watchlists</h1>
<ul>
    <% Object.entries(watchlists).forEach(([id, watchlist]) => {%>
    <li><a href=<%= "watchlist/" + watchlist._id %>><%= watchlist.name %></a></li>
    <% }); %>
</ul>

<h2>Add Watchlist</h2>
<a href="/watchlist/new">Add new Watchlist</a>


<form action="/savefeedback" method="post">
    <p>Do you like our page?</p>
    <input type="text" name="decision" pattern=(yes|no) placeholder="yes or no">
    <input type="submit" name="submit" value="Submit"></input>
</form>
<a href="feedback">See Results</a>
