<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to MyWatchlist.com!</title>
  <meta name="description" content="WatchList Prototype">
  <meta name="author" content="Franz">

   <link rel="stylesheet" href="/bootstrap.css">
   <link rel="stylesheet" href="css/watchlist">


</head>

<body>

  <div class="navbar">
  <a href="/">Home</a>
  <a href="/myWatchlist.html">My Ongoing Watchlist</a>
  <a href="#">Search</a>
  <a href="#">Profile</a>
</div>


  <p> Welcome to myWatchlist.com! </p>

  <p> Here you can view,create and like watchlists made by people like you! </p>
  <script src="js/scripts.js"></script>
</body>
</html>
