
<body>

  <h1> Here is your ongoing watchlist: </h1>

  <p>Do you want to create a new Watchlist?</p>

    <p> Click here:
  <a href="/createNewWatchlist"> create New Watchlist</a>
    </p>

  <img src="/images/Witcher.jpg" alt="Witcher Poster" style="width:500px;height:600px;">
  <img src="/images/warcraft.jpg" alt="WarCraft Poster" style="width:500px;height:600px;">
  <img src="/images/LotR.jpg" alt="Lord of the Rings Poster" style="width:500px;height:600px;">

  <p> </p>
  <script src="js/scripts.js"></script>
</body>
</html>
