<h1><%= watchlist.name %></h1>

<h2>Next Movie To Watch:</h2>
<% let nextMovie = watchlist.movies.find(movie => !movie.watched) %>
<% if(nextMovie !== undefined) {%>
    <p><%= nextMovie.name %></p>
<% } %>

<h2>Movies Left: </h2>
<ul>
    <% watchlist.movies.forEach(movie => {%>
    <% if(!movie.watched) {%>
    <li><%= movie.name %></li>
    <% } %>
    <% }) %>
</ul>

<h2>Movies Watched: </h2>
<ul>
    <% watchlist.movies.forEach(movie => {%>
    <% if(movie.watched) {%>
    <li><%= movie.name %></li>
    <% } %>
    <% }) %>
</ul>
