<h1>My Watchlists</h1>
<ul>
    <% Object.entries(watchlists).forEach(([id, watchlist]) => {%>
    <li><a href=<%= "watchlists/" + watchlist._id %>><%= watchlist.name %></a></li>
    <% }); %>
</ul>

<a href="/watchlists/new">Add new Watchlist</a>