<div class="data-form">
  <form class="form-signin" action="/watchlists/create" method="POST">
    <h2 class="form-signin-heading">Create a new Watchlist:</h2>
    <label for="inputName">Name</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Best Fantasy Movies" autofocus>
    <label for="inputGenre">Genre</label>
    <input type="text" name="genre" id="inputGenre" class="form-control" placeholder="Fantasy" required>
    <label for="inputAge">Age Group</label>
    <input type="number" name="intendedAudience" id="inputAge" class="form-control" placeholder="18" required>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>
